@import "~../../shared/styles/variables";

.window{
  background-color: darken( $col-bg-light, 1% );

  flex: 1 0 600px;
  border: 1px solid $col-text-grey;
  overflow-y: auto;
  max-height: 100%;

  border-top: 1px solid $col-text-grey;
  border-radius: $border-radius-med 0 0 $border-radius-med;

}

@media (max-width: $breakpoints-small-screen){
  .window{
    border-top: none;
    border-radius: 0 0 0 $border-radius-med;
  }
}