@import "~../../shared/styles/variables";

.chatInputWrapper{
  margin-top: 10px;
  width: 100%;
  height: auto;
  flex: 0 1 auto;
  
  border-radius: $border-radius-med;
  border: 1px solid $col-text-grey;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.chatInput{
  font-family: $sans-font-stack;
  font-size: 1em;

  overflow: auto;
  resize: none;
  
  border-radius: $border-radius-med 0 0 $border-radius-med;

  padding: 10px;
  text-align: left;
  flex: 0.95 0 auto;
}

.submitButton{
  flex: 0.05 0 3em;
  position: relative;
  display: block;

  border-radius: 0 $border-radius-med $border-radius-med 0;
  background-color: green;
}


@media (max-width: $breakpoints-small-screen){
  .chatInputWrapper{
    margin-top: 0;
    flex: 1 1 auto;
    border: none;
  }
  .chatInput{
    border-radius: 0;
  }
}
