@import "~../styles/variables";

.profileIcon{
  background-color: lighten($col-neutral, 5%);
  box-shadow:  0px 2px 2px #777;
  border-radius: 100%;  
  transition: box-shadow 150ms ease, transform 150ms ease;
}

.profileIcon:hover{
  box-shadow:  0px 3px 2px #777;
  transform: translateY(-4%);
}

.profileIcon:active{
  box-shadow: none;
  transform: translateY(4%);
}