@import "~../shared/styles/variables";

.contentWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: stretch;
}

.callToActionContainer{
  margin-bottom: 6em;
  flex: 0 0 auto;
  text-align: center;
}
.callToActionHeader{
  color: $col-bg-dark;
  font-size: 4em;
}
.callToActionSubheader{
  margin-top: 0.75em;
  color: $col-text-black;
  font-size: 1.5em;
}


.loginText{
  font-size: 1.25em;
}

.loginButtonContainer{
  width: auto;
  height: auto;
  padding: 1em;
  margin: 2em;
  border-radius: 12px;
  border: 2px dashed $col-bg-light;
}

.loginButton{
  padding: 1em;
  border-radius: 12px;
}