@import "~../shared/styles/variables";


.callToActionHeader{
  color: $col-bg-dark;
  font-size: 4em;
}
.callToActionSubheader{
  margin-top: 0.75em;
  color: $col-text-black;
  font-size: 1.5em;
}

.loginText{
  font-size: 1.25em;
}

.loginButtonContainer{
  width: auto;
  height: auto;
  margin: 1em;
  padding: 1em;
  border-radius: 12px;
  border: 2px dashed $col-bg-light;
}

.loginButton{
  padding: 1em;
  background: #3B5998;
  border-radius: 12px;
  
  text-decoration: none;
  color: $col-text-white;
}


@media (max-width: $breakpoints-mobile){
  .callToActionHeader{
    margin-top: 2em;
    font-size: 2em;
    padding: 0.5em;
  }

  .callToActionSubheader{
    font-size: 1.25em;
    padding: 0.5em;
  }

  .loginText{
    font-size: 1em;
    margin: 1em;
  }
}