$col-bg-light: #fefcfc;
$col-neutral: #e6e6e6;
$col-neutral-dark: darken( $col-neutral, 35% );
$col-bg-dark: #ff5d55;

$col-text-black: #000;
$col-text-grey: #333;
$col-text-light-grey: #555;
$col-text-white: #fefefe;

$col-poli-left: #7D3DF4;
$col-poli-center: #F43DF4;
$col-poli-right: #F43D3D;

//$col-poli-left: hsl(261, 89%, 60%);
//$col-poli-center: hsl(300, 89%, 60%);
//$col-poli-right: hsl(360, 89%, 60%);

$col-message-other: #ee66ee;

// --

$sans-font-stack: "Source Sans Pro", Helvetica;

// --

$shadow-header:  0px -7px 40px #555;
$shadow-low: 0px 6px 10px #555;
$shadow-tiny: 0px 1px 2px #777;

// --

$border-radius-lg: 12px;
$border-radius-med: 8px;

// --

$breakpoints-small-screen: 900px;