$col-bg-light: #fefcfc;
$col-neutral: #e6e6e6;
$col-bg-dark: #ff5d55;

$col-text-black: #000;
$col-text-grey: #333;
$col-text-white: #fefefe;


$col-poli-left: #7D3DF4;
$col-poli-center: #F43DF4;
$col-poli-right: #F43D3D;

//$col-poli-left: hsl(261, 89%, 60%);
//$col-poli-center: hsl(300, 89%, 60%);
//$col-poli-right: hsl(360, 89%, 60%);


// --

$serif-font-stack: "Source Sans Pro", Helvetica;

// --

$shadow-header:  0px -7px 40px #555;
$shadow-low: 0px 6px 10px #555;