@import "~../../shared/styles/variables";

.messageContainer{
  
  position: relative;
  margin: 5px 1em;
  height: auto;
  width: auto;
  max-width: 75%;
  clear: both;

}

.messageContainer.self{
  float: right;
}

.messageContainer.other{
  float:left;
}

.message{
  border-radius: $border-radius-lg;
  width: auto;
  height: auto;
  
  padding: 0.5em;
  text-align: left;
}

.message.self{
  background-color: $col-neutral;
  float: right;
}

.message.other{
  background-color: lighten($col-message-other, 20%);
  float: left;
  clear: both;
}

.messageSenderTag{
  margin: 5px 0.5em 0 0.5em;
  font-size: 0.8em;
  clear: both;  
}
.messageSenderTag.self{
  float: right;
}
.messageSenderTag.other{
  float: left;
}

.sender{
  
}

.timestamp{
  font-size: 0.85em;
  color: $col-text-light-grey;
}