@import "~../shared/styles/variables";

.window{
  background-color: darken( $col-bg-light, 1% );

  flex: 1 0 600px;
  border: 1px solid $col-text-grey;
  border-radius: $border-radius-med 0 0 $border-radius-med;

  overflow-y: auto;
  max-height: 100%;
}


