@import "~../shared/styles/variables";


.deactivated{
  background-color: gray;
}


.chatContainer{
  flex: 1 0 100%;
  width: 100%;

  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
    
  max-height: 100%;
}