@import "~../shared/styles/variables";

.messageContainer{
  
  position: relative;

  height: auto;
  width: auto;
  max-width: 75%;
  
}

.message{
  width: auto;
  height: auto;
  
  padding: 0.5em;
  margin: 0.5em 1em;

  text-align: left;
}

.message.self{
  background-color: $col-neutral;
  float: right;
}

.message.other{
  background-color: $col-message-other;
  float: left;
  clear: both;
}

.messageSenderTag{
  clear: both;  
}
.messageSenderTag.self{
  float: right;
}
.messageSenderTag.other{
  float: left;
}