@import "~../shared/styles/variables";
@import "~./custom-input-styling";


.wrapper{
  position: relative;
  width: 95%;
  text-align: left;
}


.textWrapper{
  height: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-start;
  font-size: 1.5em;
}


.slider{
  position: relative;
  z-index: 2;
}

@media(max-width: $breakpoints-mobile){
  .textWrapper{
    font-size: 1em;
    flex-direction: column;
    align-items: center;
  }
}


